* {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    border: 0px;
}


header{
    background-color: rgb(55, 145, 230);
    position: relative;
    width: 100%;
    height: 70px;
}

#logo {
    height: 80%;
    position: absolute;
    z-index: 1;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-left: 5%;
}

nav li {
    display: inline-block;
    padding-left: 10%;
}

nav a {
    font-size: 0.8rem;
    text-decoration: none;
    color:black
}

nav a:hover {
    color: gold;
}

p {
    text-align: justify;
}

#projects a{
    text-decoration: none;
    color:black
}
#projects li {
    display: inline-block;
    position: relative;

    margin: 20px;
    min-width: 25%;
    min-height: 100px;

    background-color: aqua;
}

footer{
    display: inline-block;
    position:absolute;
    bottom: 0;
    height: 10%;
    background-color: aquamarine;

}