* {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    border: 0px;
    margin: 0;
}

header{
    position: relative;
    width: 100%;
    height: 80px;
}

#logo {
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav {
    position: absolute;
    bottom: 0;
    margin-left: 200px;
    
}

nav li {
    display: inline-block;
    text-align: center;
    padding: 0px 30px 5px 30px;
    margin: 0px 5px 0px 0px;
}

nav a {
    font-size: 0.7rem;
    font-weight: bold;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.751);
}

nav a:hover {
    color: rgb(12, 101, 126);
    transition-delay: 0.1s; 
    -webkit-transition-delay: 0.1s; 
}

p {
    text-align: justify;
}

#projects {
    background-color: rgba(26, 94, 153, 0.279);
    padding-top: 20px;
}

#projects a{
    text-decoration: none;
    color:black
}
#projects li {
    display: inline-block;
    position: relative;

    margin: 20px;
    padding: 10px;
    min-width: 300px;
    min-height: 200px;

    background-color: rgb(9, 79, 79);
}

footer{
    display: inline-block;
    position:absolute;
    bottom: 0;
    height: 10%;
    background-color: aquamarine;

}